* {
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    gap: 5px;
    height: 97.5vh;   
}

/* DASHBOARD/SIDEBAR STYLING */

ul {
    padding: 0;
}

li {
    padding-left: .7rem;
    font-size: 1.25rem;
}

i {
    padding-right: 1rem;
}

.section {
    border: 1px solid black;
}

.dashboard {
    grid-area: 1 / 1 / 3 / 2;
    padding-left: 1rem;
    background-color: #0969da;
    color: white;
}

.branding {
    padding-top: 2rem;
}

.navigation, .branding {
    display: grid;
    gap: 16px;
}

.dashboard-title {
    padding: 0 0 1rem .5rem;
    font-size: 1.5rem;
}

.dashboard-icon {
    padding-right: .75rem;
}

.home-icon {
    padding-right: .75rem;
}

.profile {
    padding-left: .9rem;
}

.communities-icon {
    padding-right: .75rem;
}

/* HEADER STYLING */

.header {
    display: grid;
    /* grid-template-columns: 2fr 1fr; */
    grid-template-rows: 1fr 2fr;
    grid-area: 1 / 2 / 2 / 3;
    padding: 1rem 2rem;
}

input {
    width: 50%;
    height: 25px;
    margin: 0 auto;
    border: none;
    border-radius: 30px;
    background-color: rgb(224, 229, 234);
}

.user {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  .one {
    background-image: url('https://via.placeholder.com/400x200');
  }

  .top-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-around;
  }

/* CONTENT SECTION */

.projects {
  display: grid;
  gap: 15px;
  grid-template-columns: 3fr 1fr;
}

.cards {
    display: grid;
    grid-area: 1 / 1 / 3 / 1;
    gap: 15px;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-template-rows: repeat(3, 1fr);
}

.announcements {
    grid-area: 1 / 2 / 2 / 3;
}

.trending {
    grid-area: 2 / 2 / 3 / 3;
}