* {
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

body {
    /* insert google font */
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    gap: 5px;
    height: 97.5vh;   
}

ul {
    padding: 0;
}

li {
    padding-left: .7rem;
    font-size: 1.25rem;
}

i {
    padding-right: 1rem;
}

.section {
    background-color: #0969da;
    border: 1px solid black;
}

.header {
    grid-area: 1 / 2 / 2 / 3;
}

.dashboard {
    grid-area: 1 / 1 / 3 / 2;
    padding-left: 1rem;
    color: white;
    font-weight: 700;
}

.branding {
    padding-top: 2rem;
}

.navigation, .branding {
    display: grid;
    gap: 16px;
}

.dashboard-title {
    padding: 0 0 1rem .5rem;
    font-size: 1.5rem;
}

.dashboard-icon {
    padding-right: .75rem;
}

.home-icon {
    padding-right: .75rem;
}

.profile {
    padding-left: .9rem;
}

.communities-icon {
    padding-right: .75rem;
}

.projects {
  display: grid;
  gap: 15px;
  grid-template-columns: 3fr 1fr;
}

.cards {
    display: grid;
    grid-area: 1 / 1 / 3 / 1;
    gap: 15px;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-template-rows: repeat(3, 1fr);
}

.announcements {
    grid-area: 1 / 2 / 2 / 3;
}

.trending {
    grid-area: 2 / 2 / 3 / 3;
}