* {
    list-style: none;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

/* DASHBOARD/SIDEBAR STYLING */

ul {
    padding: 0;
}

li {
    padding-left: .7rem;
    font-size: 1.25rem;
}

i {
    padding-right: 1rem;
}

.section {
}

.dashboard {
    grid-area: 1 / 1 / 3 / 2;
    padding: 2rem 0 0 1rem;
    background-color: #1ba4ff;
    color: white;
}

.branding {
    padding-top: 2rem;
}

.navigation, .branding {
    display: grid;
    gap: 2rem;
}

.dashboard-title {
    padding: 0 0 2rem .5rem;
    font-size: 1.5rem;
}

.dashboard-icon {
    padding-right: .75rem;
}

.fa-house {
    padding-right: .75rem;
}

.profile {
    padding-left: .9rem;
}

.fa-people-group {
    padding-right: .75rem;
}

/* HEADER STYLING */

.header {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-area: 1 / 2 / 2 / 3;
    padding: 1rem 2rem;
    gap: 1rem;
    box-shadow: 0px 5px 5px lightgray;
    position: relative;
    z-index: 10;
}

input {
    width: 80%;
    height: 30px;
    margin: 0 auto;
    border: none;
    border-radius: 30px;
    background-color: rgb(224, 229, 234);
}

.user {
    display: inline-block;
    min-height: auto;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDI89WV6yQXcE-QAhPz54V6jhoMbbrarvHALroSZFyV_KX-rnmS0-VQ9tM5edkXkGyJ04&usqp=CAU');
}
  
.one {
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
}

.two {
    width: 4rem;
    height: 4rem;
    min-width: 4rem;
}

.top-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.top-right-row {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    align-items: center;
    padding-right: 2rem;
    font-weight: bold;
}

.bottom-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.bottom-left-row {
    display: flex;
    font-size: .8rem;
    gap: 1rem;
    align-items: center;
    font-weight: bold;
}

.username {
    font-size: 1.5rem;
}

.bottom-right-row {
    display: flex;
    text-align: center; 
    gap: 2rem;
}

button {
    font-size: 1rem;
    color: white;
    background-color: #1ba4ff;
    border: none;
    border-radius: 30px;
    padding: 10px 5px;
    width: 100px;
}

/* CONTENT SECTION (left/main) */

.projects {
  display: grid;
  gap: 1rem;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 2fr ;
  background-color: rgb(224, 229, 234);
  padding: 2rem 2rem;
}

h2 {
    font-weight: normal;
}

.article {
    display: grid;
    grid-area: 1 / 1 / 3 / 1;
    gap: 1rem;
    grid-template-columns: repeat(2, (250px, 1fr));
    grid-template-rows: (3, 1fr);
}

.card {
    display: grid;
    background-color: #FFFFFF;
    color: black;
    padding: 1rem;
    border-radius: .5rem;
    gap: .25rem;
    border-left: solid .6rem rgb(255, 196, 2);
}

.project-title {
    grid-column: 1 / 3;
}

.article p {
    font-size: 1rem;
    font-family: sans-serif;
    color: white;
    text-align: left;
}

.card p {
    color: rgb(122, 122, 122);
    font-weight: normal;
    font-size: .9rem;
    padding: 5px;
}

.card .title {
    font-size: 1.25rem;
    color: black;
}

.card-icons {
    display: flex;
    justify-content: flex-end;
}

/* CONTENT SECTION (right side) */

hr {
    height: 1px;
    background-color: lightgray;
    border: none;
}

.announcements {
    display: grid;
    grid-row: 1 / 2;
}

.announcements-sub {
    font-weight: bold;
}

.announcements-container {
    display: grid;
    padding: 1rem;
    background-color: #FFFFFF;
    border-radius: .5rem;
    font-size: 0.75rem;
    margin-top: 1rem;
    gap: .4rem;
}

.trending-container {
    display: grid;
    padding: 1rem;
    background-color: #FFFFFF;
    border-radius: .5rem;
    font-size: .75rem;
    grid-column: 1fr 3fr;
    gap: 1rem;
}

.trending-content {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    font-size: .75rem;
}

.icons, .info {
    display: grid;
    gap: 1rem;
}

.trending {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.trend-handle {
    font-weight: bold;
    padding-bottom: .25rem;
}

.trend-info {
    color: rgb(122, 122, 122);
}